*

html {
  display: block;
}

body {
  font-size: 22px;
  color: seashell;
  background-color: black;
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
}

header img {
  padding-left: 10px;
  height: 50px;
}

nav {
  padding-right: 20px;
  text-align: right;
  flex-grow: 1;
}

a {
  color: seashell;
  text-decoration: underline;
  padding-left: 20px;
}

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


#mission {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  padding-top: 70px;
}

#mission .content{
  margin: auto;
  background-color: black;
  width: 100%;
}
